@font-face {
    font-family: 'VodafoneLt';
    src: url('../assets/fonts/VodafoneLt-Regular.woff') format('woff')         
}
@font-face {
    font-family: 'VodafoneRg';
    src: url('../assets/fonts/VodafoneRg.woff') format('woff')         
}
html {
    font-size: 100%;
}
body {
    margin: 0;
}
.color-white {
    color: #fff
}
.font-vodafone-lt{
    font-family: 'VodafoneLt';
}
.font-vodafone-rg{
    font-family: 'VodafoneRg';
}
.font-bold{
    font-weight: bold;
}
.top-menu {
    height: 102px;
}
.product-info {
    height: 72vh;
    background-image: url('../assets/images/rectangle-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}
.product-tidal-logo {
    height: 20%;    
    margin-top: 3.5%;
}
.product-text-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.product-announcement, .product-description, .product-promotion {
    margin-bottom: 10px;
}
.product-announcement {
    font-size: 2.75rem;
}
.product-description, .product-promotion{
    font-size: 1.87rem;
}
.product-promotion {
    letter-spacing: 1px;
}
.product-activate-button{
    width: 89px;
    height: 45px;
    margin-bottom: 3.8%;
    background-color: #e60000;
    border: none;
    cursor: pointer;
}
.button-text{
    font-size: 1.1rem;
}
.breadcrumb {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #666;
}
.breadcrumb-content {
    display: flex;
    align-items: center;
    margin-left: 70px;
}
.breadcrumb-link {
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}
.breadcrumb-link:first-child {
     text-decoration: underline;
}
.breadcrumb-chevron{
    height: 1rem;
    margin: 0 11%;
    filter: invert();
}
.tidal-bottom-content {
    background-color: #333;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 49.8px;
}
.bottom-title,.bottom-info-title {
    font-size: 2.25rem;
    text-align: center;
}
.cards-carrousel-area{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 58px 0 54px 0;
}
.card, .carrousel-card{
    width: 29%;
    border: solid 1px #999;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    cursor: pointer;
}
.card-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29px 14px;
}
.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.card-description{
    font-size: 1rem;
}
.bottom-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.tidal-info-advantages{
    display: flex;
    justify-content: space-between;
    gap: 11rem;
    font-size: 1rem;
    margin: 2vw 4vw;
}
.right-advantages p, .left-advantages p {
    position: relative;
    padding-left: 28px;
    background-image: url('../assets/icons/tick-or-solved@3x.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 21px 18px;
}

/* tablet styles */
@media (max-width: 768px) {
    body {
      background-color: lightblue;
      width: 100vw;
    }
    .top-menu {
        height: 71px;
    }
    .product-tidal-logo{
        width: 114px;
        height: 55px;
    }
    .product-info{
        height: 403px;
    }
    .product-announcement{
        font-size: 2.25rem
    }
    .product-description, .product-promotion{
        font-size: 1.625rem;
        text-align: center;
        width: 80%;
    }
    .breadcrumb{
        display: none;
    }
    .bottom-title, .bottom-info-title{
        font-size: 1.875rem;
        width: 80%;
    }
    .tidal-info-advantages{
        font-size: 1rem;
        gap: 1rem;
    }
    .right-advantages,.left-advantages{
        width: 20rem;
        font-weight: normal;    
    }
    .right-advantages .font-bold, 
    .left-advantages .font-bold {
      font-weight: normal;
    }
    .carrousel-card{
        width: 40%;
    }
    .cards-carrousel-area{
        flex-direction: column;
        align-items: center;
    }
    .button-container {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }
    .carrousel-button {
        width: 8px;
        height: 8px;
        padding: 0;
        border: 0; 
        border-radius: 50%;
        background-color: #afafaf;
        border: 2px solid transparent;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .carrousel-button.selected {
        background-color: transparent;
        border: 1.5px solid #fff;
        transform: scale(1.4);
    }
  }